scripts/01_data_acquisition/tif_download_correctly_labelled_service_stations
scripts/01_data_acquisition/tif_download_wrongly_labelled_service_stations
scripts/02_mask_creation_and_split/test_images_masks
scripts/02_mask_creation_and_split/full_images_masks
scripts/02_mask_creation_and_split/train_validate_images_masks
scripts/02_mask_creation_and_split/train_validate_images_masks_128
scripts/02_mask_creation_and_split/train_validate_images_masks_256
scripts/02_mask_creation_and_split/train_validate_images_masks_reduced
scripts/02_mask_creation_and_split/train_validate_images_masks_reduced_128
scripts/02_mask_creation_and_split/train_validate_images_masks_reduced_256
